package store

import (
	"github.com/adrien3d/base-api/helpers/params"
	"github.com/adrien3d/base-api/models"
)

// Store interface
type Store interface {
    {{- range . }}
        {{ $sing := singularize .ModelName }}
            {{- range .Methods  }}
                {{- if eq . "Create" }}
                    Create{{ title $sing }}(*models.{{ title $sing }}) error
                {{- else if eq . "Get" }}
                    Find{{ title $sing }}ById(string)(*models.{{ title $sing }}, error)
                {{- else if eq . "GetAll" }}
                    GetAll{{ title $sing }}()([]*models.{{ title $sing }}, error)
                {{- else if eq . "Update" }}
                    Update{{ title $sing }}(string, params.M) error
                {{- else if eq . "Delete" }}
                    Delete{{ title $sing }}(*models.{{ title $sing }}, string) error
                {{- end }}
            {{- end }}
    {{- end }}
}
